*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    background-color: navy;
    height: 150px;
    position: relative;
}

nav{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 60px 0 60px;
}

nav li{
    list-style: none;
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
}

nav li span {
    padding-left: 5px;
}

nav a{
    padding: 5px; 
    background-color: #fff;
    text-decoration: none;
}

button{
    margin-left: 40vh;
    margin-top: 20vh;
}