/*
Custom Css
*/


#_toast {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #56ae6c;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
  }
  
  #_toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.9s 2.5s;
    animation: fadein 0.5s, fadeout 0.9s 2.5s;
  }
  
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }

.btn-danger {
  background-color: #ae5656  !important;
  border-color: #ae5656 !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.__amount {
  margin-top: 1vh !important;
  width: 2vw;
  text-align: center;
  position: relative;
}